* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 24px;
    margin: 0 0 10px 0;
}
.two-columns {
    display: flex;
} 
.two-columns .col {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    padding: 30px;
    margin: 15px;
}