* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 30px;
    font: sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul li{
    text-decoration: none;
    list-style: none;
}
.grid {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'nav main'
    'rodape rodape';
}
.grid div:nth-child(1) {
    grid-area: header;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid div:nth-child(2) {
    background-color: rgb(0, 174, 255);
    grid-area: nav;
}

.grid div:nth-child(3) {
    background-color: rgb(164, 95, 228);
    grid-area: main;
}

.grid div:nth-child(4) {
    background-color: rgb(240, 240, 125);
    grid-area: rodape;
}