* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 30px;
    font: sans-serif;
}
.grid {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.grid div {
    min-height: 100px;
    background-color: brown;
}
@media (max-width: 768px) {
    .grid div:nth-child(6) {
        background-color: #43d3dd;
        grid-row: span 2;
        grid-column: span 1;
    }
}